.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 0 10%;
    background: linear-gradient(to right, #7A5B0D, #E4B03C);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header-logo {
    width: 700px;
    cursor: pointer;
    margin-right: 10px;
}

.navbar a {
    position: relative;
    font-size: 15px;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
}

.searchbar-form { 
    width: 500px; 
    position: relative;
    top: -200px;
} 

.searchbar-container { 
    position: relative; 
} 

.searchbar-input { 
    width: 100%; 
    padding: 16px; 
    border-radius: 25px; 
    background-color: #FFF9F5; 
    color: #000; 
    border: none;
    outline: none;
} 

.searchbar-button { 
    position: absolute; 
    right: 14px; 
    top: 50%; 
    transform: translateY(-50%); 
    padding: 10px; 
    background-color: #A87B15; 
    border-radius: 50%; 
    border: none; 
    color: white; 
    cursor: pointer; 
    outline: none; 
} 

.searchbar-results { 
    position: absolute; 
    top: 55px; 
    padding: 16px; 
    background-color: #FFF9F5; 
    color: #000; 
    width: 100%; 
    border-radius: 12px; 
    left: 50%; 
    transform: translateX(-50%); 
    display: flex; 
    flex-direction: column; 
    gap: 8px; 
}

.option {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: -190px;
}

.radio-container {
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 7px 18px;
    background-color: #A87B15;
    color: #fff;
    border-radius: 25px;
    cursor: pointer;
}

.radio-container input[type="radio"] { 
    margin-right: 10px; /* Space between the radio button and label text */ 
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 30px 10%;
    text-align: left;
    background: #fff;
    color: #000;
    border-top: 15px solid rgba(122, 91, 13, .5);
}

.footer-logo {
    position: absolute;
    bottom: 20px;
    left: 4%;
    width: 70px;
    cursor: pointer;
}

.footer-top {
    margin-top: -25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-item {
    margin: 0;
}

.address {
    font-size: 15px;
}

.website {
    font-size: 12px;
}

.copyright {
    text-align: right;
    font-size: 12px;
}
