.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px 10%;
    display: flex;
    justify-content: space-between;
    text-align: left;
    background: linear-gradient(to right, #7A5B0D, #E4B03C);
    color: #ffffff;
}